@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.register{
    background: linear-gradient(to right , white 50% , #02529C 50%);
    height: 100vh;
}
.right{
    margin: 100px auto;
}